.modal
{
	position: absolute !important;
}
.modal-dialog {
    position: relative !important;
    top: 40px !important;
}
.fp-controlArrow.fp-prev
{
	border-color:transparent #616161 transparent transparent !important;
}
.fp-controlArrow.fp-next
{
	border-color:transparent transparent transparent #616161 !important;
}
.show-beginning
{
	position: relative;
	background:url(http://waaac.co/img/patterns/contact.jpg);
	background-repeat: repeat;
	height: 100vh;
	width: 100%;
	color:#FFF;
	font-family: 'Open Sans';
	font-size:30px;
	font-style: italic;
	display: block;
	overflow:hidden;
	z-index:-1;
}
th
{
	text-align: center !important;
}
.cat-names,.workshop-names,.workshop-names-external
{
	height: 100%;
	background:#212121;
	padding: 0 !important;
	margin: 0 !important;
}
.conclave-description
{
	position: relative;
	top:40px;
	font-family: 'Lato';
	font-size:19px;
	text-align: justify;
}
.speaker
{
	float: left;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background:#212121;
	margin-right: 30px;
	color:#FFF;
	font-size: 95px;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;


}
.desc,.cat-desc
{
	text-align: justify;
	padding: 20px;
}
.cat-names
{
	overflow-y : scroll;
}
.conclave-speakers
{
	height: 100%;
	background:#334144;
	padding: 0 !important;
	margin: 0 !important;
}
.catheads
{
	text-align: center;
}
.workshop-names
{
	background:#075242;
	overflow-y : scroll;
}
.workshop-desc
{
	font-family: 'Open Sans';
	padding: 20px;
}
.workshop-desc th
{
	text-align: justify;
	background:#2196F3;
	border-right: solid 1px #e0e0e0;
}
.workshop-desc td
{
	background:#fff;

}
.sponsor
{
	height: 220px;
}
.sponsor-logo
{
	height: 200px;
	
	
}
.sponsor-desc
{
	color:#fff;
	margin: -5px;
}
.cat-name,.workshop-name
{

	height: calc(100%/13);
	
	color:#fff;
	font-family: 'Lato';
	box-sizing: border-box;
	padding-top: 15px;
}
.cat-name:hover,.workshop-name:hover
{
	background:#000;
	border-left:solid 3px red;
	cursor: pointer;
}
.container
{
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}
::-webkit-scrollbar {
	height: 3px;
	width: 15px;
	background: #FFF;
	
}

::-webkit-scrollbar-thumb {
	background: #a1abad;
	
	/*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);*/
}

::-webkit-scrollbar-corner {
	background: #212121;
}
.lp-image
{
	position: relative;
	top:60px;
	z-index: -1;
}


.schedule-body-one:hover,.schedule-body-two:hover,.schedule-body-three:hover,.schedule-body-four:hover
{
	/*overflow-y: auto;*/
	/*overflow-x: hidden;*/
}



.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

}
.content-conclave{
	position: relative;
	
	text-align: center;

}
#q
{
	position: relative;
	
}
.content h1
{
	font-family: 'Roboto';
}
.contact-image
{
	float:left;
	margin-left: 20px;
}
.contact-info
{
	position: relative;
	top:15px;
	color:#fff;
	font-family: 'Lato';
}
.contact-info a
{
	text-decoration: none;
	color:#FFF;
}
label
{
	color:#fff;
}
.content-test{
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;

}
.content-test-1{
	position: relative;
	top: 10%;
	transform: translateY(-50%);
	text-align: center;

}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}

#footer{
	background-color: black;
	color: white;
	height: auto !important;
}
q:before,q:after {
	content:'';
}
h1{
	font-size: 6em;
	opacity: 0.8;
}
.fp-arrow
{
	border-color:transparent transparent transparent #4a61bf !important;
}
.update-button
{
	position: relative;
	top:30px;
	height: 40px;
	right: 20px;
	/*background:#FFF;*/
	
	box-sizing: border-box;
	padding: 10px;
	text-align: left;
	display: inline;
	cursor: pointer;
}
i
{
	color:#FFF;
}
.head-sub
{
	position: relative;
	bottom: 40px;
}
.head-sub h3
{
	font-family: 'Lato';
	font-size: 25px;
	color:#FFF;
	position: relative;
	left:150px;
}
.heading
{
	font-size:58px;
	font-family: 'Open Sans' !important;
	color:#FFFFFF;
	position: relative;
	z-index: 9999;
}
i
{
	margin-right: 7px;
}


/*
CUSTOM STYLES
==========================================*/


body{
	font-family: sans-serif;
}

.site-footer{

	height: 100vh;
	width: 100%;
	background-color: #fff;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
	background-color: #eee;
	text-align: center;

}

.updates_div
{

	height: 100%;
	width: 300px;
	right: -300px;
	
	background: #FFF;
	position: absolute;
}
.nav
{
	position: static;
	top: 0;
	height: 60px;
	width: 100%;
	background:rgba(48,41,68,0.7);
	
	/*padding:15px 0 0 40px;*/
	box-sizing:border-box;
	z-index: 9999;	
}
.event
{
	height: 70px;
	background:#FFFFFF;
	border:solid 1px #e0e0e0;
	text-align: center;
	box-sizing: border-box;
	overflow:hidden;
	cursor: pointer;
}
.event-time
{
	float: left;
	height: 70px;
	
	width: 25%;
	background: #FCD581;
	box-sizing: border-box;
	padding-top: 20px;
	color:#FFFFFF;
}
.event-details
{
	float: left;
	width: 75%;
	
	height: 70px;
	box-sizing: border-box;

}
.event-name
{
	
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	padding-top: 10px;

}
.event-venue
{
	float:left;
	height: 50%;
	width: 100%;
	
	box-sizing: border-box;
	
	font-size:12px;
	padding-top: 10px;
}
nav ul
{
	list-style-type: none;
	position: relative;
	z-index: 100000;

}
nav ul li
{
	display: inline-block;
	color:#FFF;
	box-sizing: border-box;
	margin-right: 0;
	height: 60px;
	padding-top: 22px;
	
	text-align: center;
	width: 130px;
	cursor: pointer;
	color:#FFFFFF;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 15px;
}
nav ul li:hover
{
	background: grey;
}
.sub
{
	width: 400px;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #fff;
	margin:0 auto;
	color:#FFF;
	font-weight: bold;
	margin-top: 20px;
	height: 30px;
	box-sizing: border-box;
	padding-top: 5px;


}

.quotes
{
	margin:0 auto;
	margin-top:50px;
	font-size:40px;
	display: block;
	background:#212121;
	width:100px;
	height: 50px;
	position: absolute;
	bottom: 30px;
}

/*#section1
{
	background: url(images/landing.png);
	background-size: cover;
	background-repeat: no-repeat;

	}*/


	#section4{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: flex-end;
		-ms-align-items: center;
		align-items: center;

	}

	.site-footer-bottom{
		display: block;
		width: 100%;
		height: 50px;
		bottom: 0;
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: space-around;
		background-color: #fff;
		position: absolute;
		box-sizing: border-box;
		padding-top:10px;
	}

	.site-footer .footer-links ul h4 {
		margin-left: -5px;
	}

	.social img{
		height: 35px;
		width: 35px;
		padding: 7px;
	}

	.app{

		display: inline-block;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
	}

	.app img{
		height: 35px;
		width: 100px;
		padding: 5px;
		margin-left: -35px;
	}

	.sponsor{

		display: inline-block;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
	}

	.sponsor img{
		height: 35px;
		width: 35px;
		padding: 7px;
	}

	h4, ul{
		display: inline-block;
	}

	ul{
		list-style-type: none;
		padding: 0px 30px;
		text-align: left;
		margin: 0px 10px;
		font-size: 20px;
	}

	h4{
		padding-bottom: 30px;
	}

	li{
		padding-top: 7px;
		height: 50px;
	}

	.img-container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 960px;
		margin: 0 auto;
		height: 90vh;
		flex-wrap: wrap;
	}

	.img-gallery{
		height: 31.33%;
		width: 30.33%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 10px;
		transition: all 0.3s ease-in-out;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: flex-end;
		align-items: flex-end;
	}

	.img-gallery:hover{
		opacity: 0.7;
		transform: scale(1.1);
	}

	.img-gallery .img-caption{
		opacity: 0;
		transition: all 0.25s ease 0.1s;
		width: 100%;
	}

	.img-gallery:hover .img-caption{
		opacity: 1;
		color: #fff;
		font-size: 20px;
		background-color: rgb(62, 40, 240);
		width: 100%;
	}

	.img-1{

		background: url('images/TT1.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-2{

		background: url('images/TT2.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-3{

		background: url('images/TT3.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-4{

		background: url('images/TT4.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-5{

		background: url('images/TT5.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-6{

		background: url('images/TT6.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-7{

		background: url('images/TT7.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-8{

		background: url('images/TT8.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-9{

		background: url('images/TT9.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.img-10{

		background: url('images/TT10.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-11{

		background: url('images/TT11.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-12{

		background: url('images/TT12.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-13{

		background: url('images/TT13.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-14{

		background: url('images/TT14.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-15{

		background: url('images/TT15.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-16{

		background: url('images/TT16.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-17{

		background: url('images/TT17.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.img-18{

		background: url('images/TT18.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	h4{
		margin: 0;
		padding: 5px;
	}

	.isVisible{
		opacity: 1;
	}


	

	div#section3.section.section-3.fp-section.active.fp-completely{
		/*background: url('images/old_map.png');*/
	}


	/*Sidebar*/







	.sidenav {
		height: 100%;
		width: 0px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 1s;
		padding-top: 10px;
		overflow-y: hidden;
		box-sizing: border-box;
		/*overflow-y: scroll;*/
		/*padding: 12px 12px 12px 12px;*/
	}
	.sidenav:hover
	{
		overflow-y: scroll;
	}
	.sidenav .nav-links{
		text-align: center;
		padding: 14px 14px 14px 14px;
		text-decoration: none;
		font-size: 20px;
		color: grey;
		display: block;
		transition: 0.05s;
		top: 20px;
		min-width: 220px;
	}
	.sidenav a:hover{
		color: #f1f1f1;
		font-size: 22px;
	}
	.closeBttn{
		position: relative;
		margin-right: 20px;	
		text-decoration: none;
		color: grey;
		font-size: 56px !important;
		float: right;
	}
	
	.openBttn{
		z-index: 1;
		position: fixed;
		left: 30px;
		top: 20px;
		padding: 7px 7px;
		transition: transform 0.5s;
		opacity: 0.5;
	}
	.openBttn:hover{
		transition: transform 1s;
		transform: rotate(360deg);
		opacity: 1;
	}


/*=================
Schedule Page
==================*/


.schedule-outer-wrapper{
	/*display: -webkit-flex;*/
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: space-between;
	align-items: space-between;
	height: 100vh;
	width: 100%;
	background-color: #eee;
}

.schedule-header{
	height: 10%;
	background-color: blue;
}

.schedule-subheader {
	height: 17%;
}

.schedule-body{
	height: 83%;
	/*background-color: pink;*/

}

.schedule-footer{
	height: 7%;
	background-color: green;
}


.schedule-body-one,
.schedule-body-two,
.schedule-body-three,
.schedule-body-four,
.schedule-subheader-one,
.schedule-subheader-two,
.schedule-subheader-three,
.schedule-subheader-four {
	width: 25%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

.schedule-subheader-one, .schedule-footer-one {
	background-color: #E84141;
}
.schedule-subheader-two, .schedule-footer-two {
	background-color: #1D1919;
}
.schedule-subheader-three, .schedule-footer-three {
	background-color: #3B8CDD;
}
.schedule-subheader-four, .schedule-footer-four {
	background-color: #4AD5BF;
}

.schedule-header {
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	font-style: italic;
	background: url('images/bookeh.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.schedule-footer-one,
.schedule-footer-two,
.schedule-footer-three,
.schedule-footer-four{
	width: 25%;
	height: 100%;
	float: left;
}

.schedule-footer img{

	height: 85%;
	padding-top: 5px;
}

.schedule-subheader input{
	outline: none;
	border: none;
	border-radius: 4px;
	width: 64%;
	height: 18%;
	padding: 5px 10px;
	margin-top: 4%;
}

.schedule-subheader h2,p {
	color: #fff;
	margin-top: 5px;
}

.schedule-subheader p {
	font-style: italic;
	font-weight: 300;
}

/*PRETECHTATVA SCHEDULE*/

.pretechtatva-schedule-body-one,
.pretechtatva-schedule-body-two,
.pretechtatva-schedule-body-three,
.pretechtatva-schedule-body-four,
.pretechtatva-schedule-body-five,
.pretechtatva-schedule-body-six,
.pretechtatva-schedule-body-seven,
.pretechtatva-schedule-body-eight,
.pretechtatva-schedule-body-nine,
.pretechtatva-schedule-body-ten,
.pretechtatva-schedule-subheader-one,
.pretechtatva-schedule-subheader-two,
.pretechtatva-schedule-subheader-three,
.pretechtatva-schedule-subheader-four,
.pretechtatva-schedule-subheader-five,
.pretechtatva-schedule-subheader-six,
.pretechtatva-schedule-subheader-seven,
.pretechtatva-schedule-subheader-eight,
.pretechtatva-schedule-subheader-nine,
.pretechtatva-schedule-subheader-ten {
	width: 20%;
	height: 100%;
	float: left;
	
}

.pretechtatva-schedule-subheader-one, .pretechtatva-schedule-footer-one,.pretechtatva-schedule-subheader-six, .pretechtatva-schedule-footer-six {
	background-color: #E84141;
}
.pretechtatva-schedule-subheader-two, .pretechtatva-schedule-footer-two,.pretechtatva-schedule-subheader-seven, .pretechtatva-schedule-footer-seven {
	background-color: #1D1919;
}
.pretechtatva-schedule-subheader-three, .pretechtatva-schedule-footer-three,.pretechtatva-schedule-subheader-eight, .pretechtatva-schedule-footer-eight {
	background-color: #3B8CDD;
}
.pretechtatva-schedule-subheader-four, .pretechtatva-schedule-footer-four,.pretechtatva-schedule-subheader-nine, .pretechtatva-schedule-footer-nine {
	background-color: #4AD5BF;
}
.pretechtatva-schedule-subheader-five, .pretechtatva-schedule-footer-five,.pretechtatva-schedule-subheader-ten, .pretechtatva-schedule-footer-ten {
	background-color: #3B8CDD;
}

.schedule-header {
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	font-style: italic;
	background: url('images/bookeh.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.pretechtatva-schedule-footer-one,
.pretechtatva-schedule-footer-two,
.pretechtatva-schedule-footer-three,
.pretechtatva-schedule-footer-four,
.pretechtatva-schedule-footer-five,
.pretechtatva-schedule-footer-six,
.pretechtatva-schedule-footer-seven,
.pretechtatva-schedule-footer-eight,
.pretechtatva-schedule-footer-nine,
.pretechtatva-schedule-footer-ten{
	width: 20%;
	height: 100%;
	float: left;
}

.pretechtatva-schedule-footer img{

	height: 85%;
	padding-top: 5px;
}

.pretechtatva-schedule-subheader input{
	outline: none;
	border: none;
	border-radius: 4px;
	width: 64%;
	height: 18%;
	padding: 5px 10px;
	margin-top: 4%;
}

.pretechtatva-schedule-subheader h2,p {
	color: #fff;
	margin-top: 5px;
}

.pretechtatva-schedule-subheader p {
	font-style: italic;
	font-weight: 300;
}

/*SCROLLAR STYLE*/
.sidenav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sidenav::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

.sidenav::-webkit-scrollbar-thumb
{
	background-color: #000000;
	/*border: 2px solid #555555;*/
}

/*CONTACT SECTION*/

.contact-l
{
	float: left;
	width: 50%;
	box-sizing: border-box;	
	padding-left: 5%;
	height: 100%;
	position: absolute;
	top: 30%;
	height: 100px;
	margin-top: -50px;
}
.team-name
{
	padding-top:20px;
	color:#FFF;
}
.sug-text
{
	color:#FFF;
	position: relative;
	font-family: 'Lato';

}
.contact-r
{

	width: 50%;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	top: 40%;
	height: 100px;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;

}
.contact_input
{
	margin-bottom: 20px;
	width: 250px;
	background:grey;
	border:none;
	height: 40px;

}
.contact_textarea
{
	background:grey;
	border:none;
	width: 250px;
	height: 80px;
	position: relative;
	right: 2px;
	margin-bottom: 20px;
}
.team-image
{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background:#fff;
	margin-bottom: 30px;
	position: relative;	
	left: 30px;
}
.wrapper
{
	width: 100%;
	height: 100vh;
	position: relative;
}

.vcenter {
	margin-top: 100px;
	text-align: center;
}


#section7
{
	/*background:url(http://waaac.co/img/patterns/contact.jpg);*/
	/*background-repeat: repeat;*/
}
#section7 input,#section5 textarea
{
	background:none;
	border: solid 1px #fff;
}
#section7 button
{
	background:#009688;
	height: 40px;
	width: 130px;
	border:none;
	color:#FFF;
	border-radius: 2px;
}
.category-events
{
	background:#2196F3;
	height: 70px;
	text-align: center;
	padding-top:25px;
	color:#fff;
	font-family: 'Lato';
	border: solid 1px #e0e0e0;
	margin: 0 auto;
}
textarea
{
	background:none !important;
	border: solid 1px #fff;
}
/*CONTACT SECTION ENDS*/
#name,#email,#message
{
	color:#000;
}
.chip {
	display: inline-block;
	padding: 0 0px;
	height: 70px;
	font-size: 14px;
	line-height: 30px;
	border-radius: 25px;
	background-color: #d8cbcb;
	width: 280px;
	margin-bottom: 5px;
	text-align: center;

}

.chip img {
	float: left;
	margin: 0;
	height: 70px;
	width: 70px;
	border-radius: 50%;

}
.chip-number
{
	
}
.table td
{
	text-align: center !important;
}
.rulebooks img
{
	margin-right: 20px;
	display: block;
	float: left;
	box-shadow: 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 1px #ccc;
	-moz-box-shadow: 3px 3px 1px #ccc;
}
.rtitle
{
	padding: 80px 0 0 0;
	text-align: center;
	font-size: 25px;
	font-family: 'Lato';
}
.eventModalDescription i
{
	color:#212121;
}