.content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

}

		body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
		form,fieldset,input,textarea,p,blockquote,th,td {
		    padding: 0;
		    margin: 0;
		}

#footer{
	background-color: black;
	color: white;
	height: auto !important;
}
		q:before,q:after {
		    content:'';
		}
h1{
	font-size: 6em;
	opacity: 0.8;
}
<<<<<<< HEAD
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}
.sidenav a{
	text-align: center;
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	font-size: 18px;
	color: grey;
	display: block;
	transition: 0.3s;
}
.sidenav a:hover{
	color: #f1f1f1;
	font-size: 22px;
}
.closeBttn{
	position: absolute;
	top: 0;
	right:25px;
	font-size: 36px !important;
	margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.openBttn{
	z-index: 1;
	position: fixed;
	left: 30px;
	top: 20px;
	padding: 7px 7px;
	transition: transform 0.5s;
	opacity: 0.5;
}
.openBttn:hover{
	transform: rotate(360deg);
	opacity: 1;
}
=======

/*
CUSTOM STYLES
==========================================*/


body{
	font-family: sans-serif;
}

.site-footer{

	height: 300px;
	width: 100%;
	background-color: #fff;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
	background-color: #eee;

}

#section4{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;

}

.site-footer-bottom{
	display: block;
	width: 100%;
	height: 50px;
	background-color: #999;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	background-color: #fff;
}

.social img{
	height: 35px;
	width: 35px;
	padding: 7px;
}

.app{

	display: inline-block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
}

.app img{
	height: 35px;
	width: 100px;
	padding: 5px;
	margin-left: -35px;
}

.sponsor{

	display: inline-block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
}

.sponsor img{
	height: 35px;
	width: 35px;
	padding: 7px;
}

h4, ul{
	display: inline-block;
}

ul{
	list-style-type: none;
	padding: 20px 30px;
	text-align: left;
	margin: 20px 10px;
	font-size: 20px;
}

h4{
	padding-bottom: 30px;
}

li{
	padding-top: 7px;
}
>>>>>>> f91c9e334fca5440b311c0857080612ecb9233d3
